import React from 'react';

class <%= react.name %> extends React.Component {

  render() {
    return <div>This is a brand new react component called <%= react.name %>!</div>
  }

}

export default <%= react.name %>;